<div class="m-portlet" [ngClass]="{ 'm-portlet--body-progress' : viewLoading, 'm-portlet--body-progress-overlay' : loadingAfterSubmit }">
	<div class="m-portlet__head">
		<div class="m-portlet__head-caption">
			<div class="m-portlet__head-title">
				<span class="m-portlet__head-icon m--hide">
					<i class="la la-gear"></i>
				</span>
				<h3 class="m-portlet__head-text">{{getTitle()}}</h3>
			</div>
		</div>
	</div>
	<form class="m-form" [formGroup]="customerForm" autocomplete="off">
		<div class="m-portlet__body">

			<div class="m-portlet__body-progress">
				<mat-spinner [diameter]="20"></mat-spinner>
			</div>

			<m-alert *ngIf="hasFormErrors" type="warn" [duration]="30000" [showCloseButton]="true" (close)="onAlertClose($event)">
				Oh snap! Change a few things up and try submitting again.
			</m-alert>

					<mat-vertical-stepper>
						<mat-step label="Basic user information">

							<!-- from group -->
							<div class="form-group m-form__group row">
								<div class="col-lg-4 m--margin-bottom-20-mobile">
									<mat-form-field class="mat-form-field-fluid">
										<input matInput placeholder="Enter First Name" formControlName="firstName" />
										<mat-error>First Name is
											<strong>required</strong>
										</mat-error>
										<mat-hint align="start">Please enter
											<strong>First Name</strong>
										</mat-hint>
									</mat-form-field>
								</div>
								<div class="col-lg-4 m--margin-bottom-20-mobile">
									<mat-form-field class="mat-form-field-fluid">
										<input matInput placeholder="Enter Last Name" formControlName="lastName" />
										<mat-error>Last Name is
											<strong>required</strong>
										</mat-error>
										<mat-hint align="start">Please enter
											<strong>Last Name</strong>
										</mat-hint>
									</mat-form-field>
								</div>
								<div class="col-lg-4 m--margin-bottom-20-mobile">
									<mat-form-field class="mat-form-field-fluid">
										<input matInput placeholder="Enter Middle Name" formControlName="middleName" />
										<mat-error>Middle Name is
											<strong>required</strong>
										</mat-error>
										<mat-hint align="start">Please enter
											<strong>Middle Name</strong>
										</mat-hint>
									</mat-form-field>
								</div>
							</div>

							<div class="m-separator m-separator--dashed"></div>

							<!-- from group -->
							<div class="form-group m-form__group row">
								<div class="col-lg-4 m--margin-bottom-20-mobile">
									<mat-form-field class="mat-form-field-fluid">
										<input matInput placeholder="Enter Username" formControlName="username" autocomplete="off"/>
										<mat-error>Username is
											<strong>required</strong>
										</mat-error>
										<mat-hint align="start">Please enter
											<strong>Username</strong>
										</mat-hint>
									</mat-form-field>
								</div>
								<div class="col-lg-4 m--margin-bottom-20-mobile">
									<mat-form-field class="mat-form-field-fluid">
										<input type="email" matInput placeholder="Enter Email" formControlName="email" autocomplete="off"/>
										<mat-error>Email is
											<strong>required</strong>
										</mat-error>
										<mat-hint align="start">Please enter
											<strong>Email</strong>
										</mat-hint>
									</mat-form-field>
								</div>
								<div class="col-lg-4 m--margin-bottom-20-mobile">
									<mat-form-field class="mat-form-field-fluid">
										<input matInput placeholder="Enter Phone" formControlName="phone" />
										<mat-error>Phone is
											<strong>required</strong>
										</mat-error>
										<mat-hint align="start">Please enter
											<strong>Phone</strong>
										</mat-hint>
									</mat-form-field>
								</div>
							</div>

							<div class="m-separator m-separator--dashed"></div>

							<!-- from group 6 -->
							<div class="form-group m-form__group row">
								<div class="col-lg-4 m--margin-bottom-20-mobile">
									<mat-form-field class="mat-form-field-fluid" matAutocompleteOrigin="off">
										<input type="password" matInput placeholder="Enter Password" formControlName="password" autocomplete="new-password"/>
										<mat-error>Password is
											<strong>required</strong>
										</mat-error>
										<mat-hint align="start">Please enter
											<strong>Password</strong>
										</mat-hint>
									</mat-form-field>
								</div>
								<div class="col-lg-4 m--margin-bottom-20-mobile">
									<mat-form-field class="mat-form-field-fluid">
										<mat-select placeholder="Enter Status" formControlName="status">
											<mat-option value="0">Deactivated</mat-option>
											<mat-option value="1">Activated</mat-option>
											<mat-option value="2">Pending</mat-option>
										</mat-select>
										<mat-hint align="start">
											<strong>Account Status</strong>
										</mat-hint>
									</mat-form-field>
								</div>
							</div>

						</mat-step>

						<mat-step label="Additional user information">
							<!-- from group 2 -->
							<div class="form-group m-form__group row">

								<div class="col-lg-4 m--margin-bottom-20-mobile">
									<mat-list>
										<mat-list-item>
											<img mat-list-avatar [src]="user.avatarUrl" class="m--img-rounded m--marginless m--img-centered" alt=""/>
											<h4 mat-line>{{user.avatarUrl}}</h4>
											<p mat-line>
												<span>
													<file-upload (complete)="onFileComplete($event)"></file-upload>
												</span>
											</p>
										</mat-list-item>
									</mat-list>
								</div>
								<div class="col-lg-4 m--margin-bottom-20-mobile">
									<mat-form-field class="mat-form-field-fluid">
										<input matInput placeholder="Enter Display Name" formControlName="displayName" />
										<mat-error>Display Name is
											<strong>required</strong>
										</mat-error>
										<mat-hint align="start">Please enter
											<strong>Display Name</strong>
										</mat-hint>
									</mat-form-field>
								</div>
								<div class="col-lg-4 m--margin-bottom-20-mobile">
									<mat-form-field class="mat-form-field-fluid">
										<input type="text" matInput placeholder="Enter Description" formControlName="description" />
										<mat-error>Description is
											<strong>required</strong>
										</mat-error>
										<mat-hint align="start">Please enter
											<strong>Description</strong>
										</mat-hint>
									</mat-form-field>
								</div>
							</div>

							<div class="m-separator m-separator--dashed"></div>

							<!-- from group -->
							<div class="form-group m-form__group row">
								<div class="col-lg-4 m--margin-bottom-20-mobile">
									<mat-form-field class="mat-form-field-fluid">
										<mat-select placeholder="Gender" formControlName="gender">
											<mat-option value="Female">Female</mat-option>
											<mat-option value="Male">Male</mat-option>
										</mat-select>
										<mat-hint align="start">
											<strong>Gender</strong>
										</mat-hint>
									</mat-form-field>
								</div>
								<div class="col-lg-4 m--margin-bottom-20-mobile">
									<mat-form-field class="mat-form-field-fluid">
										<input type="url" matInput placeholder="Enter Url" formControlName="url" />
										<mat-error>Url is
											<strong>required</strong>
										</mat-error>
										<mat-hint align="start">Please enter
											<strong>Url</strong>
										</mat-hint>
									</mat-form-field>
								</div>
							</div>
						</mat-step>

						<mat-step label="Company information">
							<!-- from group 5 -->
							<div class="form-group m-form__group row">
								<div class="col-lg-4 m--margin-bottom-20-mobile">
									<mat-form-field class="mat-form-field-fluid">
										<input matInput placeholder="Enter Sphere" formControlName="sphere" />
										<mat-error>Sphere is
											<strong>required</strong>
										</mat-error>
										<mat-hint align="start">Please enter
											<strong>Sphere</strong>
										</mat-hint>
									</mat-form-field>
								</div>
								<div class="col-lg-4 m--margin-bottom-20-mobile">
									<mat-form-field class="mat-form-field-fluid">
										<input matInput placeholder="Enter Company" formControlName="company" />
										<mat-error>Company is
											<strong>required</strong>
										</mat-error>
										<mat-hint align="start">Please enter
											<strong>Company</strong>
										</mat-hint>
									</mat-form-field>
								</div>
								<div class="col-lg-4 m--margin-bottom-20-mobile">
									<mat-form-field class="mat-form-field-fluid">
										<input matInput placeholder="Enter Position" formControlName="position" />
										<mat-error>Position is
											<strong>required</strong>
										</mat-error>
										<mat-hint align="start">Please enter
											<strong>Position</strong>
										</mat-hint>
									</mat-form-field>
								</div>
							</div>
						</mat-step>
					</mat-vertical-stepper>




			<!--<div class="form-group m-form__group row">-->
				<!--<div class="col-lg-4 m&#45;&#45;margin-bottom-20-mobile">-->
					<!--<mat-form-field class="mat-form-field-fluid">-->
						<!--<input type="email" matInput placeholder="Enter Email" formControlName="email" />-->
						<!--<mat-error>Email is-->
							<!--<strong>required</strong>-->
						<!--</mat-error>-->
						<!--<mat-hint align="start">Please enter-->
							<!--<strong>Email</strong>-->
						<!--</mat-hint>-->
					<!--</mat-form-field>-->
				<!--</div>-->
				<!--<div class="col-lg-4 m&#45;&#45;margin-bottom-20-mobile">-->
					<!--<mat-form-field class="mat-form-field-fluid">-->
						<!--<input matInput [matDatepicker]="picker" placeholder="Choose a Date of Birth" formControlName="dob" />-->
						<!--<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
						<!--<mat-datepicker #picker></mat-datepicker>-->
						<!--<mat-hint align="start">Please enter-->
							<!--<strong>Date of Birth</strong> in 'mm/dd/yyyy' format</mat-hint>-->
					<!--</mat-form-field>-->
				<!--</div>-->
				<!--<div class="col-lg-4 m&#45;&#45;margin-bottom-20-mobile">-->
					<!--<mat-form-field class="mat-form-field-fluid">-->
						<!--<input type="email" matInput placeholder="Enter IP Address" formControlName="ipAddress" />-->
						<!--<mat-error>IP Address-->
							<!--<strong>required</strong>-->
						<!--</mat-error>-->
						<!--<mat-hint align="start">We'll never share customer-->
							<!--<strong>IP Address</strong> with anyone else</mat-hint>-->
					<!--</mat-form-field>-->
				<!--</div>-->
			<!--</div>-->

			<!--<div class="m-separator m-separator&#45;&#45;dashed"></div>-->
			<!--<div class="form-group m-form__group row">-->
				<!--<div class="col-lg-4 m&#45;&#45;margin-bottom-20-mobile">-->
					<!--<mat-form-field class="mat-form-field-fluid">-->
						<!--<mat-select placeholder="Gender" formControlName="gender">-->
							<!--<mat-option value="Female">Female</mat-option>-->
							<!--<mat-option value="Male">Male</mat-option>-->
						<!--</mat-select>-->
						<!--<mat-hint align="start">-->
							<!--<strong>Gender</strong>-->
						<!--</mat-hint>-->
					<!--</mat-form-field>-->
				<!--</div>-->
				<!--<div class="col-lg-4 m&#45;&#45;margin-bottom-20-mobile">-->
					<!--<mat-form-field class="mat-form-field-fluid">-->
						<!--<mat-select placeholder="Type" formControlName="type">-->
							<!--<mat-option value="0">Business</mat-option>-->
							<!--<mat-option value="1">Individual</mat-option>-->
						<!--</mat-select>-->
						<!--<mat-hint align="start">-->
							<!--<strong>Account Type</strong>-->
						<!--</mat-hint>-->
					<!--</mat-form-field>-->
				<!--</div>-->
			<!--</div>-->
		</div>

		<div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
			<div class="m-form__actions m-form__actions--solid">
				<div class="row text-right">
					<div class="col-lg-12">
						<button type="button" mat-raised-button [mat-dialog-close]="data.animal" cdkFocusInitial matTooltip="Cancel changes">
							Cancel
						</button>&nbsp;
						<button type="button" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="viewLoading" matTooltip="Save changes">
							Save
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
